.DS_Store
xcuserdata
.project
.classpath
.settings
local.properties
*.class
*.o
*.obj
*.dll
*.so
*.a
*.jar
gen/
bin/
dist/
obj/
classes/
*~
*.swp
*.suo
*.user
*.sdf
*.opensdf
bin-*/
BuildOutput/
x64/
Win32/
TestResults/
ipch/
packages/
*.pdb
*.idb
*.psess
*.vspx
.klocwork/

*_Resharper*
build
.vagrant
core/sdk/android_java/libs
core/sdk/c/portable/android/libs
*.*.orig
